.hero {
  background-image: url("../Assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  margin-top: 10rem;
}
.hero .right img {
  height: 40rem;
}
.hero .left {
  margin-right: 10rem;
}
.hero .left h1 {
  font-size: 5rem;
}
.hero .left h3 {
  font-size: 3rem;
}
.hero .left p {
  font-size: 2rem;
}
